<!-- navbar for login & registration pages -->
<nav *ngIf="router.url.includes('/login') || router.url.includes('/register')"
  class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="m-r-20">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <mat-icon class="icon-button" (click)="openDialog()">info</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar for home page-->
<nav *ngIf="router.url.includes('/home')" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="">
          <a class="pointer nav-link active" [ngStyle]="{
              display: 'flex',
              'justify-content': 'center',
              'align-items': 'center'
            }">
            <mat-icon>person</mat-icon>
            Bonjour {{ currentUser?.name }}
          </a>
        </li>
        <mat-divider [vertical]="true"></mat-divider>
        <li *ngIf="isAdmin()" class="nav-item" (click)="onClickAdmin()">
          <a class="pointer" [ngClass]="adminActive ? 'nav-link active' : 'nav-link'" [ngStyle]="{
            display: 'flex',
            'justify-content': 'center',
            'align-items': 'center'
          }" href="{{ easyAdminUrl }}" target="_blank">
            <mat-icon class="m-r-5">admin_panel_settings</mat-icon>Administrer

          </a>
        </li>
        <li *ngIf="isAdmin()" class="nav-item" (click)="onClickWaitingList()">
          <a class="pointer" [ngClass]="waitingListActive ? 'nav-link active' : 'nav-link'" [ngStyle]="{
            display: 'flex',
            'justify-content': 'center',
            'align-items': 'center'
          }">
            <mat-icon class="m-r-5">pending</mat-icon>Liste d'attente
            <span class="badge bg-secondary rounded-pill m-l-5"> {{ waitingListNumber }}</span>
          </a>
        </li>
        <li class="nav-item" (click)="onClickCatalog()">
          <a class="pointer" [ngClass]="catalogActive ? 'nav-link active' : 'nav-link'" [ngStyle]="{
              display: 'flex',
              'justify-content': 'center',
              'align-items': 'center'
            }">
            <mat-icon class="m-r-5">auto_stories</mat-icon>Catalogue
          </a>
        </li>
      </ul>
    </div>
    <div class="m-r-20">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" (click)="onClickMyCart()">
          <a class="pointer" [ngClass]="cartActive ? 'nav-link active' : 'nav-link'" [ngStyle]="{
              display: 'flex',
              'justify-content': 'center',
              'align-items': 'center'
            }">
            <mat-icon class="m-r-5">shopping_cart</mat-icon>Mon panier
            <span class="badge bg-secondary rounded-pill m-l-5"> {{ cartProductQuantity }}</span>

          </a>
        </li>
        <li class="nav-item" (click)="onClickMyOrders()">
          <a class="pointer" [ngClass]="orderActive ? 'nav-link active' : 'nav-link'" [ngStyle]="{
              display: 'flex',
              'justify-content': 'center',
              'align-items': 'center'
            }">
            <mat-icon class="m-r-5">list_alt</mat-icon>Mes commandes
            <span class="badge bg-secondary rounded-pill m-l-5"> {{ pendingOrderNumber }}</span>
          </a>
        </li>
        <mat-divider [vertical]="true"></mat-divider>
        <li class="nav-item m-l-5 m-r-5">
          <mat-icon class="icon-button" (click)="openDialog()">info</mat-icon>
        </li>
        <li class="nav-item m-l-5">
          <mat-icon class="icon-button" (click)="logout()">logout</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</nav>
