<!-- navbar for login & registration pages -->
<nav *ngIf="router.url === '/login' || router.url === '/register'"
  class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="m-r-20">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <mat-icon class="icon-button" (click)="openDialog()">info</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar for home page-->
<nav *ngIf="router.url === '/home'" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="pointer" [ngClass]="catalogActive?'nav-link active':'nav-link'">Catalogue</a>
        </li>
        <li>
          <a class="pointer" [ngClass]="orderActive?'nav-link active':'nav-link'">Mes commandes</a>
        </li>
        <li>
          <a class="pointer" [ngClass]="orderActive?'nav-link active':'nav-link'">Bonjour {{ name }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
