<h1 *ngIf="!waitingList || waitingList.length===0" class="flex-center-start-wrap font-weight-bold min-h-79vh">
  Personne en liste d'attente
</h1>

<div *ngIf="waitingList && waitingList.length>0" class=" min-h-79vh">
  <h1 class="text-align-start m-l-35 font-weight-bold">Liste d'attente</h1>
  <div class="card bg-light mb-3 w-95 margin-auto ">
    <tr *ngFor="let user of waitingList" class="flex-center-center font-size-25 m-t-5 m-b-5">
      <td width="250px">
        {{ user.name }} {{ user.surname }}
      </td>
      <td width="50px m-l-20 m-r-20">
        <mat-icon class="m-l-5 m-r-5 text-success icon pointer" title="Valider l'inscription de {{ user.name }}"
          (click)="patchUser(user, true)">check_circle
        </mat-icon>
      </td>
      <td width="50px m-l-20 m-r-20">
        <mat-icon class="m-l-5 m-r-5 red icon pointer" title="Refuser l'inscription de {{ user.name }}"
          (click)="patchUser(user, false)">do_not_disturb_on
        </mat-icon>
      </td>
    </tr>
  </div>
</div>
