<h2 *ngIf="pendingMainOrder" class="text-info margin-0">
  <h4 class="margin-0">Clôture de la prochaine commande dans :</h4>
  <div class="timer">
    <span *ngIf="daysToClosingDate>0" id="days"> {{daysToClosingDate}} jour(s)</span>
    <span *ngIf="daysToClosingDate>0 || hoursToClosingDate>0" id="hours"> {{hoursToClosingDate}} heure(s)</span>
    <span *ngIf="daysToClosingDate>0 || hoursToClosingDate>0 || minutesToClosingDate>0" id="minutes">
      {{minutesToClosingDate}} minute(s)</span>
    <span *ngIf="daysToClosingDate>0 || hoursToClosingDate>0 || minutesToClosingDate>0 || secondsToClosingDate>0"
      id="seconds"> {{secondsToClosingDate}} seconde(s)</span>
  </div>
</h2>
<button *ngIf="isAdmin() && !pendingMainOrder" class="btn btn-info" (click)="openDialog()">Nouvelle clôture</button>
