/**
* MARGIN
*/

.margin-auto {
  margin: auto;
}

// Margins 0 px
.m-0 {
  margin: 0px;
}

// Margins 5 px
.m-l-5 {
  margin-left: 5px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-5 {
  margin: 5px;
}

// Margins 20 px
.m-l-20 {
  margin-left: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-20 {
  margin: 20px;
}

/**
* PADDING
*/
// Paddings 5px:
.p-l-5 {
  padding-left: 5px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-5 {
  padding: 5px 5px;
}

// Paddings 20px:
.p-l-20 {
  padding-left: 20px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-20 {
  padding: 20px 20px;
}

/**
* FLEX
*/
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-end {
  display: flex;
  justify-content: end;
}

.flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-start-start {
  display: flex;
  justify-content: start;
  align-items:flex-start;
  flex-wrap: wrap;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-space-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-space-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-center-100 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.flex-column-center-center-100 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-center-center-auto {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
* WIDTH
*/
.fit-content {
  width: fit-content;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

/**
* HEIGHT
*/

h-50 {
  height: 50%;
}

h-100 {
  height: 100%;
}

/**
* LI
*/
.li {
  list-style-type: none;
}

/**
* ICONS
*/
.icon-button {
  color: white;
  font-size: 30px;
  height: 30px !important;
  width: 30px !important;
  cursor: pointer;
}

/**
* OTHERS
*/
.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.vertical-align-center {
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}

.max-h-100-o-y-a {
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
}

.font-weight-bold {
  font-weight: bold !important;
}

/**
* MAT-DIALOG-CALENDAR
*/
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: var(--bs-primary);
}

.mat-calendar-body-selected {
  background-color: var(--bs-primary);
  color: #fff;
}

/**
* Spinner
*/
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner-dialog .mat-dialog-container {
  background-color: white;
  border-radius: 10%;

}

.white{
  color: white;
}
