<div class="card bg-light mb-3 max-h-100-o-y-a">
  <div class="card-body">
    <div class="card-header">
      <h2>Filtres</h2>
    </div>
    <div class="flex-center-center">

      <div class="filter-group">
        <div class="form-check">
          <h4 class="filter-title">Catégorie</h4>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Parfum
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
          <label class="form-check-label" for="flexCheckChecked">
            Barbe
          </label>
        </div>
      </div>

      <div class="filter-group">
        <div class="form-check">
          <h4 class="filter-title">Catégorie</h4>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Parfum
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
          <label class="form-check-label" for="flexCheckChecked">
            Barbe
          </label>
        </div>
      </div>

      <div class="filter-group">
        <div class="form-check">
          <h4 class="filter-title">Catégorie</h4>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Parfum
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
          <label class="form-check-label" for="flexCheckChecked">
            Barbe
          </label>
        </div>
      </div>

      <div class="filter-group">
        <div class="form-check">
          <h4 class="filter-title">Catégorie</h4>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Parfum
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
          <label class="form-check-label" for="flexCheckChecked">
            Barbe
          </label>
        </div>
      </div>


    </div>
  </div>
