<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-align-center vertical-align-center" scope="col">
        Numéros
      </th>
      <th class="text-align-center vertical-align-center" scope="col">
        Catégorie
      </th>
      <th class="text-align-center vertical-align-center" scope="col">
        Si vous aimez
      </th>
      <th class="text-align-center vertical-align-center" scope="col">Genre</th>
      <th class="text-align-center vertical-align-center" scope="col">
        Conditionnement
      </th>
      <th class="text-align-center vertical-align-center" scope="col">
        Prix unitaire
      </th>
      <th class="text-align-center vertical-align-center" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th class="text-align-center vertical-align-center" scope="row">
        {{ product.name }}
      </th>
      <td class="text-align-center vertical-align-center">
        {{ product.category.name }}
      </td>
      <td class="text-align-center vertical-align-center">Column content</td>
      <td class="text-align-center vertical-align-center">
        {{ product.gender.name }}
      </td>
      <td class="text-align-center vertical-align-center">
        <select name="capacity">
          <option
            *ngFor="let productPackaging of product.productPackagings"
            value="
            {{ productPackaging.capacity }}             
            {{ productPackaging.packaging.capacity_unit }}
            "
            id="{{ product.id }}"
          >
            {{ productPackaging.packaging.capacity }}
            {{ productPackaging.packaging.capacity_unit }}
          </option>
        </select>
      </td>
      <td class="text-align-center vertical-align-center">
        récupérer la valeur du conditionnement avec un getElementById
        productPackaging.unit_price €
      </td>
      <td class="text-align-center vertical-align-center">
        <button class="btn btn-primary" (click)="addToCart(product)">
          <div class="flex-center-center">
            <mat-icon>add_shopping_cart</mat-icon>
            Ajouter au panier
          </div>
        </button>
      </td>
    </tr>
  </tbody>
</table>
