<div class="card bg-light mb-3">


  <div *ngFor="let product of products" class="flex-space-around-center  m-t-20 p-b-20 m-b-5 border-bottom">

    <div class="m-r-20 m-b-5">
      <div class="vertical-align-center font-weight-bold" scope="row">
        Référence :
        <span class="text-primary">{{ product.name }}</span>
      </div>
      <div class="vertical-align-center">
        <strong>Catégorie : </strong> {{ product.category.name }}
      </div>
      <div class="vertical-align-center">
        <strong>Gamme : </strong>{{ product.rangeAccount.name }}
      </div>
      <div class="vertical-align-center">
        <strong>Si vous aimez : </strong>{{ product.preference }}
      </div>
      <div class="vertical-align-center">
        <strong>Genre : </strong>{{ product.gender.name }}
      </div>
    </div>
    <div class="vertical-align-center" class="m-r-20 m-t-5 m-b-5 m-l-20">
      <select class="form-select text-align-center" [(ngModel)]="product.selectedProductPackaging"
        id="product-packaging-{{ product.id }}">
        <option *ngFor="let productPackaging of product.productPackagings" [ngValue]="productPackaging">
          {{ productPackaging.packaging.capacity }}
          {{ productPackaging.packaging.capacityUnit }}
        </option>
      </select>
    </div>
    <div class="text-align-center vertical-align-center" class="m-r-20 m-t-5 m-b-5" id="unit-price-{{ product.id }}">
      <div><strong>Prix unitaire : </strong></div>
      <div class="text-align-center">{{ product.selectedProductPackaging.unitPrice }} €</div>
    </div>
    <div>
      <div class="text-align-center vertical-align-center m-t-5 m-b-5" width="160px">
        <button class="btn btn-primary" (click)="addToCart(product)">
          <div class="flex-center-center">
            <mat-icon>add_shopping_cart</mat-icon>
            Ajouter au panier
          </div>
        </button>
      </div>
      <div *ngIf="getCartProductQuantity(product) > 0"
        class="text-align-center vertical-align-center text-danger m-t-5 m-b-5" width="100px">
        Déjà {{ getCartProductQuantity(product) }} dans le panier
      </div>
      <div *ngIf="getCartProductQuantity(product) <= 0" class="text-align-center vertical-align-center text-danger"
        width="100px"></div>
    </div>


  </div>
</div>
