<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-align-center" scope="col">Numéros</th>
      <th class="text-align-center" scope="col">Si vous aimez</th>
      <th class="text-align-center" scope="col">Conditionnement</th>
      <th class="text-align-center" scope="col">Prix unitaire</th>
      <th class="text-align-center" scope="col">Quantité</th>
      <th class="text-align-center" scope="col">Prix total</th>
      <th class="text-align-center" scope="col">Ajouter au panier</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; index">
      <th class="text-align-center" scope="row">{{ product.name }}</th>
      <td class="text-align-center">Column content</td>
      <td
        *ngFor="let productPackaging of product.productPackagings"
        class="text-align-center"
      >
        {{ productPackaging.packaging.capacity }}
        {{ productPackaging.packaging.capacity_unit }}
      </td>
      <td
        *ngFor="let productPackaging of product.productPackagings"
        class="text-align-center"
      >
        {{ productPackaging.unit_price }} €
      </td>
      <td class="text-align-center">Mettre flèches bas et haut</td>
      <td class="text-align-center">faire le calcul automatique</td>
      <td class="text-align-center"><mat-icon>add_shopping_cart</mat-icon></td>
    </tr>
  </tbody>
</table>
