.min-height{
  min-height:56px;
}

.footer-text-size{
  font-size: 1.25rem;
}

.powered{
  font-size: 0.7rem;
}

.copyright{
  width:0.9rem;
  height:0.9rem;
  line-height: 0.9rem;
  font-size: 0.9rem;
}

.hover:hover{
  color:var(--bs-info)
}
