<div class="flex-column-center-center-100">
  <h2 class="dialog-title" mat-dialog-title>
    Bienvenue sur mon site de vente de produits cosmétiques !
  </h2>
  <div class="dialog-content" mat-dialog-content>
    <p>Ce site est privé et réservé à ma clientèle. Vous devez donc vous créer un compte. Une fois vos informations
      vérifiées et validées, je vous
      donnerai accès au site. Vous pourrez ainsi y consulter mon catalogue de produits et y effectuer directement vos
      commandes.</p>
  </div>
  <mat-dialog-actions>
    <button class="btn btn-primary" mat-dialog-close>
      Ok
    </button>
  </mat-dialog-actions>
</div>
