<h1 *ngIf="!this.cartProductPackagings || this.cartProductPackagings.length === 0"
  class="flex-center-center font-weight-bold">
  Votre panier est vide
</h1>
<ng-container *ngIf="this.cartProductPackagings && this.cartProductPackagings.length > 0">
  <h1 class="text-align-start m-l-35 font-weight-bold">Votre panier</h1>
  <div class="card bg-light mb-3 w-95 margin-auto">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-align-center vertical-align-center" scope="col"></th>
          <th class="text-align-center vertical-align-center" scope="col">
            Numéros
          </th>
          <th class="text-align-center vertical-align-center" scope="col">
            Catégorie
          </th>
          <th class="text-align-center vertical-align-center" scope="col">
            Gamme
          </th>
          <th class="text-align-center vertical-align-center" scope="col">
            Si vous aimez
          </th>
          <th class="text-align-center vertical-align-center" scope="col">
            Genre
          </th>
          <th class="text-align-center vertical-align-center" scope="col">
            Conditionnement
          </th>
          <th class="text-align-center vertical-align-center" scope="col">
            Quantité
          </th>
          <th class="text-align-center vertical-align-center" scope="col">
            Prix unitaire
          </th>
          <th class="text-align-center vertical-align-center" scope="col">
            Montant
          </th>
          <th class="text-align-center vertical-align-center" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartProductPackaging of cartProductPackagings">
          <td class="text-align-center vertical-align-center" width="10px">
            <input class="form-check-input" type="checkbox" value=""
              id="cartProductPackaging-{{ cartProductPackaging.id }}" checked
              (change)="onCheck($event, cartProductPackaging)" />
            <label class="form-check-label" for="cartProductPackaging-{{ cartProductPackaging.id }}">
            </label>
          </td>
          <th class="text-align-center vertical-align-center" scope="row">
            {{ cartProductPackaging.productPackaging.product.name }}
          </th>
          <td class="text-align-center vertical-align-center">
            {{ cartProductPackaging.productPackaging.product.category.name }}
          </td>
          <td class="text-align-center vertical-align-center">
            {{
            cartProductPackaging.productPackaging.product.rangeAccount.name
            }}
          </td>
          <td class="text-align-center vertical-align-center">
            {{ cartProductPackaging.productPackaging.product.preference }}
          </td>
          <td class="text-align-center vertical-align-center">
            {{ cartProductPackaging.productPackaging.product.gender.name }}
          </td>
          <td class="text-align-center vertical-align-center">
            {{ cartProductPackaging.productPackaging.packaging.capacity }}
            {{ cartProductPackaging.productPackaging.packaging.capacityUnit }}
          </td>
          <td class="text-align-center vertical-align-center">
            <div class="flex-center-center">
              <div class="m-r-5">
                {{ cartProductPackaging.productQuantity }}
              </div>
              <div class="flex-column-center-center-auto m-l-5">
                <mat-icon class="arrow-up m-b-5" (click)="addOne(cartProductPackaging)">expand_less</mat-icon>
                <mat-icon class="arrow-down" (click)="deleteOne(cartProductPackaging)">keyboard_arrow_down</mat-icon>
              </div>
            </div>
          </td>
          <td class="text-align-center vertical-align-center">
            {{ cartProductPackaging.productPackaging.unitPrice }} €
          </td>
          <td class="text-align-center vertical-align-center" id="unit-price-{{
              cartProductPackaging.productPackaging.product.id
            }}">
            {{ cartProductPackaging.amount }} €
          </td>
          <td class="text-align-center vertical-align-center">
            <mat-icon class="trash" (click)="delete(cartProductPackaging)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex-column-center-center-auto">
    <h2 class="flex-center-center cart-amount">
      Montant total: {{ getTotalCartAmount() }} EUR
    </h2>
    <button class="btn btn-primary fit-content" (click)="validateCart()">
      <div class="flex-center-center">
        <div class="flex-column-center-center-auto">
          <div class="flex-center-center">
            <mat-icon>check_circle</mat-icon>
            <span class="m-l-5 m-r-5 font-25">Valider le panier</span>
          </div>
          <span class="font-20">(uniquement les produits sélectionnés)</span>
        </div>
      </div>
    </button>
  </div>
</ng-container>
