<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-align-center vertical-align-center" scope="col">
        Numéros
      </th>
      <th class="text-align-center vertical-align-center" scope="col">
        Catégorie
      </th>
      <th class="text-align-center vertical-align-center" scope="col">
        Si vous aimez
      </th>
      <th class="text-align-center vertical-align-center" scope="col">Genre</th>
      <th class="text-align-center vertical-align-center" scope="col">
        Conditionnement
      </th>
      <th class="text-align-center vertical-align-center" scope="col">
        Prix unitaire
      </th>
      <th class="text-align-center vertical-align-center" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartProductPackaging of cartProductPackagings">
      <th class="text-align-center vertical-align-center" scope="row">
        {{ cartProductPackaging.productPackaging.product.name }}
      </th>
      <td class="text-align-center vertical-align-center">
        {{ cartProductPackaging.productPackaging.product.category.name }}
      </td>
      <td class="text-align-center vertical-align-center">
        {{ cartProductPackaging.productPackaging.product.preference }}
      </td>
      <td class="text-align-center vertical-align-center">
        {{ cartProductPackaging.productPackaging.product.gender.name }}
      </td>
      <td class="text-align-center vertical-align-center">
        {{ cartProductPackaging.productPackaging.packaging.capacity }}
        {{ cartProductPackaging.productPackaging.packaging.capacityUnit }}
      </td>
      <td class="text-align-center vertical-align-center"
        id="unit-price-{{ cartProductPackaging.productPackaging.product.id }}">
        {{ cartProductPackaging.amount }} €
      </td>
    </tr>
  </tbody>
</table>